
body {
  visibility: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  min-height: 100vh;
}

h2 {
  text-align: center;
  color: #1a237e;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #1a237e;
  color: white;
  border: none;
  cursor: pointer;
}

p {
  text-align: center;
  margin-top: 20px;
}

span {
  color: blue;
  cursor: pointer;
}

#message {
  text-align: center;
  margin-top: 15px;
  color: red;
}
